@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 3 Home Page";
    ViewData["Header"] = "Solomon Berry - Introduction";

}

<!--Name: Solomon Berry
Class: IS 413 (With Professor Hilton)
Section: 003
Assignment Description: I have created a WebApp per the structure we learned in the Mission 2 videos that includes the necessary
features such as a picture, website icon, grade calculator program, etc.-->


<img src="~/img/IMG_0227.JPG" width="250" />
<p>
    As a student in Professor Hilton's 413 Enterprise Application Development class I want to get really familiar with ASP.NET
    and learn different ways I can use this in my future. It would be cool to have one day where in class we tackle a potential "job" that
    we could use ASP.NET to complete. I also intend to make sure I get a good grade and finish the class with an A. I also just want to add a little more text to this, so
    I made a couple of changes with my css file such as changing the body font family, making the labels green, and making the output bold.
</p>

<label>Top 3 Jobs after Graduation:</label>
<ol>
    <li>Cybersecurity</li>
    <li>Software Development</li>
    <li>Database Analytics</li>
</ol>

